@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Roboto&family=Roboto+Condensed:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

th,
td {
  border-bottom: 1px solid white;
}

body {
  background-image: linear-gradient(90deg, #232225 0%, #000000 74%);
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}

.popupform {
  background-image: linear-gradient(90deg, #232225 0%, #000000 74%);
}

.font-nunito {
  font-family: nunito, sans-serif;
}

.font-MyFont {
  font-family: 'My Font', serif;
}

.blueline {
  border: 5px solid blue;
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.antiquewhite {
  background-color: #310e68;
}

.section1 h1 {
  padding: 10px 0;
}

.card {
  margin: 19px;
  border: 1px solid #464348;
}

.logo {
  text-align: center;
}

.slider {
  margin: 0 5%;
}

.line {
  border-top: 1px solid rgba(128, 128, 128, 0.601);
}

@media only screen and (max-width: 950px) {
  .card-section {
    display: inline-flexbox;
    flex-direction: row;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    margin: 20px;
  }

  .card h4 {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 540px) {
}
